<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 01: Evaluate the Ad Budget Dataset of XYZ Firm

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: Import the dataset

In [1]:
#Import the required libraries
import pandas as pd

In [7]:
#Import the advertising dataset
data=pd.read_csv('C:/Users/good/Desktop/Simplilearn/lesson8/Lesson 8/Advertising_Budget_and_Sales/Advertising Budget and Sales.csv')

#### 2: Analyze the dataset

In [8]:
#View the initial few records of the dataset
data.head()

,Unnamed: 0,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
0,1,230.1,37.8,69.2,22.1
1,2,44.5,39.3,45.1,10.4
2,3,17.2,45.9,69.3,9.3
3,4,151.5,41.3,58.5,18.5
4,5,180.8,10.8,58.4,12.9

In [10]:
#Check the total number of elements in the dataset
data.size

1000

#### 3: Find the features or media channels used by the firm

In [13]:
#Check the number of observations (rows) and attributes (columns) in the dataset
data.shape

(200, 5)

In [14]:
#View the names of each of the attributes
data.columns

Index(['Unnamed: 0', 'TV Ad Budget ($)', 'Radio Ad Budget ($)',
       'Newspaper Ad Budget ($)', 'Sales ($)'],
      dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [15]:
#Create a feature object from the columns
feature=data[['Unnamed: 0','TV Ad Budget ($)','Radio Ad Budget ($)',
       'Newspaper Ad Budget ($)']]

In [16]:
#View the feature object
feature

,Unnamed: 0,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($)
0,1,230.1,37.8,69.2
1,2,44.5,39.3,45.1
2,3,17.2,45.9,69.3
3,4,151.5,41.3,58.5
4,5,180.8,10.8,58.4
...,...,...,...,...
195,196,38.2,3.7,13.8
196,197,94.2,4.9,8.1
197,198,177.0,9.3,6.4
198,199,283.6,42.0,66.2
199,200,232.1,8.6,8.7

In [17]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
target= data['Sales ($)']

In [18]:
#View the target object
target

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: Sales ($), Length: 200, dtype: float64

In [19]:
#Verify if all the observations have been captured in the feature object
feature.shape

(200, 4)

In [20]:
#Verify if all the observations have been captured in the target object
target.shape

(200,)

#### 5: Split the original dataset into training and testing datasets for the model

In [23]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
from sklearn.model_selection import train_test_split
x_train, x_test,y_train, y_test = train_test_split(feature,target, random_state=1)

In [25]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)
print(x_test.shape)
print(x_train.shape)
print(y_test.shape)
print(y_train.shape)

(50, 4)
(150, 4)
(50,)
(150,)

#### 6: Create a model  to predict the sales outcome

In [30]:
#Create a linear regression model
from sklearn.linear_model import LinearRegression
linreg= LinearRegression()
linreg.fit(x_train,y_train)

LinearRegression()

In [31]:
#Print the intercept and coefficients 
print(linreg.intercept_)
print(linreg.coef_)

2.9433962407705625
[-0.00054456  0.04656816  0.17898008  0.00319892]

In [33]:
#Predict the outcome for the testing dataset
y_pred=linreg.predict(x_test)

#### 7: Calculate the Mean Square Error (MSE)

In [34]:
#Import required libraries for calculating MSE (mean square error)
import numpy as np
from sklearn import metrics

In [35]:
#Calculate the MSE
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

1.4038934642343053

In [40]:
#Check the accuracy of the model by comparing the y_test and the predicted outcome

print('True values:', y_test.values[0:10])
print()
print('predicted values:', y_pred[0:10])

True values: [23.8 16.6  9.5 14.8 17.6 25.5 16.9 12.9 10.5 17.1]

predicted values: [21.72584661 16.44346341  7.65515366 17.81186064 18.56989454 23.77069037
 16.32069218 13.47999869  9.20896867 17.29033449]